html {
height: 100%;
}
.btn {
    background-color: brown;
    border: none;
    border-radius:28px;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    color:gold;
    border-style: inset;
}
.back{
    position: relative;
    top: -90px;
}

body {
padding: 0;
margin: 0;
border: 0;
height: 100%;
overflow: hidden;
font-family: 'Girassol',cursive;
}

.hidden {
display: none;
}

div.stat {
    float: left;
    border-style: inset;
    font-size: 20px;
    font-weight: bold;
    background: brown;
}

#day {
    height: 14%;
    width: 14%;
    display: flex;
    float: left;
}

#dist {
    height: 14%;
    width: 14%;
    display: flex;
    float: left;
}

#crew {
    height: 10%;
    width: 10%;
    display: flex;
    float: left;

}

#ox {
    height: 14%;
    width: 14%;
    display: flex;
    float: left;
}

#food {
    height: 10%;
    width: 10%;
    display: flex;
    float: left;
}

#coin {
    height: 14%;
    width: 14%;
    display: flex;
    float: left;
}

#fire {
    height: 14%;
    width: 14%;
    display: flex;
    float: left;
}

#heavy {
    height: 14%;
    width: 14%;
    display: flex;
    float: left;
}

#home {
background-color: red;
}

#journey {
height: 100%;
background-color: #5F9FFF;
}

#event {
background-color: magenta;
}

#progress-area {
float: left;
position: relative;
width: 400px;
margin: 10px;
}

#trees {
position: fixed;/*
top: 500px;
right: 100px;*/
bottom:0;
right: 0;
width: 100%;
image-rendering: pixelated;
z-index: 0;
}

#caravan {
position: fixed;
width: 153px;
bottom: 55px;
left: 0;
image-rendering: pixelated;
z-index: 1;
}

#stats-area {
border-style: inset;
border: solid brown;
background-color: gold;
color: gold;
float: left;
height: 360px;
width: 300px;
margin: 10px;
padding: 10px;
font-size: 14px;
}

.stat-value {
float: right;
}

#updates-area {
border-style: inset;
border: solid brown;
background-color: gold;
float: left;
width: 360px;
margin: 10px;
height: 360px;
padding: 10px;
font-size: 13px;
overflow-y: scroll;
}

.update-positive {
font-size: 20px;
color: #669966;
}

.update-negative {
font-size: 20px;
color: red;
}

.update-neutral {
font-size: 20px;
color: #90908F;
}
.update-gold {
font-size: 20px;
}

#shop {
position: relative;
border: solid brown;
border-style: inset;
float: left;
background-color: gold;
margin: 10px;
padding: 10px;
height: 360px;
width: 350px;
}

.product {
border-style: inset;
background-color: brown;
float: left;
margin: 5px;
padding: 2px;
font-size: 15px;
font-weight: bold;
}

#shop button {
position: absolute;
clear: both;
float: left;
bottom: 0;
left:0;
margin: 5px;
}

#attack {
border-style: inset;
float: left;
background-color: gold;
margin: 10px;
padding: 10px;
height: 80px;
width: 260px;
}

#good {
    border-style: inset;
    float: left;
    background-color: gold;
    margin: 10px;
    padding: 10px;
    height: 80px;
    width: 260px;
}